<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Weather Information</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="font-weight-bold">Temperature:</span>
                    <span>{{response.temperature}}{{response.tempUnit}}</span>
                </li>
                <li class="list-group-item">
                    <span class="font-weight-bold">Humidity:</span>
                    <span>{{response.humidity}}</span>
                </li>
                <li class="list-group-item">
                    <span class="font-weight-bold">Pressure:</span>
                    <span>{{response.pressure}}{{response.pressureUnit}}</span>
                </li>
                <li class="list-group-item">
                    <span class="font-weight-bold">Timestamp:</span>
                    <span>{{response.dstamp}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>